<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Worlds </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let world of worlds">
    <ion-item>
      <ion-toggle
        slot="start"
        [(ngModel)]="world.active"
        (ngModelChange)="activeChanged(world)"
      ></ion-toggle>
      <ion-label>
        <h2>{{world.name}}</h2>
        <h3>{{world.mode}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="restart()">
      <ion-icon name="play-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createWorld()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<my-tabs page="worlds"></my-tabs>
